---
title: "Authors"
layout: default
permalink: "/authors"
---

<div class="container">
<h4 class="font-weight-bold spanborder"><span>{{ page.title }}</span></h4>
    <div class="row gap-y listrecent listrecent listauthor">
    {% for author in site.authors %}
        <div class="col-lg-6 mb-4">
            <div class="p-4">
            <div class="row border">
            <div class="col-md-5 mb-4 mb-md-0 box author-box-collapse" style="background-size:cover;background-image:url({{ site.baseurl }}{{ author.photo }});"></div>
            <div class="col-md-7 padding-12">
            <a href="{{ site.baseurl }}{{ author.url }}">
            <h4 class="text-dark mb-0"> {{ author.display_name }} </h4>
            <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small>
            <div class="excerpt">{{ author.bio }}</div>
            </a>
            <div class="icon-block mt-3 d-flex justify-content-between">
            <div>
          {% if author.github_username %}
            <a target="_blank" href="https://github.com/{{ author.github_username }}"><i class="fab fa-github text-muted" aria-hidden="true"></i></a>  &nbsp;
          {% endif %}
          {% if author.facebook_username %}
            <a target="_blank" href="https://www.facebook.com/{{ author.facebook_username }}"><i class="fab fa-facebook" aria-hidden="true"></i></a> &nbsp;
          {% endif %}
          {% if author.web %}
            <a target="_blank" href="{{ author.web }}"><i class="fa fa-globe text-muted" aria-hidden="true"></i></a> &nbsp;
          {% endif %}
          {% if author.twitter_username %}
			      <a target="_blank" href="https://twitter.com/{{ author.twitter_username }}"><i class="fab fa-twitter text-muted" aria-hidden="true"></i></a> &nbsp;
          {% endif %}
          {% if author.email %}
			      <a target="_blank" href="{{ author.email }}"><i class="far fa-envelope text-muted" aria-hidden="true"></i></a> &nbsp;
          {% endif %}
          {% if author.instagram_username %}
			      <a target="_blank" href="https://instagram.com/{{ author.instagram_username }}"><i class="fab fa-instagram text-muted" aria-hidden="true"></i></a> &nbsp;
          {% endif %}
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
